body {
    background-color: #f8f9fa;
}

.logo {
    font-weight: bold;
}

.icons i {
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.profile-card, .plan-card, .card {
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-img {
    width: 80px;
    height: 80px;
}

.features {
    text-align: center;
}

.feature-item {
    text-align: center;
}

.feature-item i {
    font-size: 20px;
    color: #007bff;
}

.feature-item p {
    font-size: 14px;
    margin-top: 5px;
}

.btn-outline-secondary {
    width: 100px;
}
